:root {
   --gray-color: #333;
   --light-color: #f4f4f4;
   --red-color: #db1c0f;
   --blue-color: #1b51cf;
   --violet-color: #6e0194;
}


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,
body{
   font-size: 12px;
   font-family: Arial, Helvetica, sans-serif;
}

h1 {
   font-size: 20px;
}

a {
   text-decoration: none;
   color: var(--gray-color);
}

ul{
   list-style: none;
}

.primary-a {
   border-bottom: 2px solid var(--red-color);
}

.primary-a-sports {
   border-bottom: 2px solid var(--blue-color);
}

.primary-a-tech {
   border-bottom: 2px solid var(--violet-color);
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 10px;
}

.category {
   display: inline-block;
   color: white;
   font-size: 0.7rem;
   text-transform: uppercase;
   padding: 0.4rem 0.6rem;
   margin-bottom: 0.5rem;
   border-radius: 2px;
}

.category-politics {
   background: var(--red-color);
}
.category-tech {
   background: var(--violet-color);
}
.category-sports {
   background: var(--blue-color);
}



.py-1 {padding: 1.5rem 0;}
.py-2 {padding: 2rem 0;}
.py-3 {padding: 3rem 0;}
.p-1 {padding: 1.5rem;}
.p-2 {padding: 2rem;}
.p-3 {padding: 3rem;}

.btn {
   display: inline-block;
   padding: 5px 10px;
   color: white;
   transition: background;
   transition-duration: .5s;
    /* align-items: center; */
    text-align: center;

}

.btn-red
{
   background: var(--red-color);
}

.btn-blue {
   background: var(--blue-color);
}

.btn-violet {
   background: var(--violet-color);
}

.btn:hover {
   padding: 4px 9px;
   background: var(--gray-color);
   color: var(--light-color);
   border: 1px solid var(--light-color);
   /* border-inline: 1px solid var(--light-color); */

}

.card {
   background: #fff;
   padding: 1rem;

}

/* NAVBAR */
#navbar{
   /* max-height: 100px; */
   background: #fff;
   position: sticky;
   top: 0;
   z-index: 2;
}

#navbar .content {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100%;
}

#navbar .logo {
   width: 50px;
}

#navbar .content ul {
   display: flex;
}

#navbar .content ul li a {
   font-weight: bold;
   padding-bottom: 5px;
   margin: 10px 40px;
}

#navbar .content ul li a:hover{
   border-bottom: 1px solid var(--gray-color);
}

#navbar .content .pjesa-majtas {
   display: flex;
   align-items: center;

}

#navbar .content .pjesa-majtas .login {
   width: 30px;
}

#navbar .content .button input {
   background: var(--light-color);
   padding: 5px 10px;
   border-radius: 32px;
   border: none;
   margin-right: 15px;
}

#navbar .content .button input:focus{
   outline: none;
   border: 1px solid var(--red-color);
}

#navbar .content .logo {
   background: #db1c0f; 
   border-radius: 50%; 
   margin: 5px 0;
}

#navbar .content .logo:hover {
   background: #cc1a0d; 
}

/* HEADER */

#header{
   background: url('../img/foto2.jpg') no-repeat center center/cover;
   height: 90vh;
   /* height: 100vh; */
   color: var(--light-color);
}

#header .header-content {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   /* align-items: center; */
   top: -100px;
   left: 0;
   right: 0;
   background-color: rgba(0, 0, 0, 0.5);
}

#header .header-content .texti{
   margin-bottom: 30px;
}


#header .header-content h3,
#header .header-content p{
   font-size: 1.5rem;
   width: 50%;
}
#header .header-content h3{
   font-size: 2rem;
   margin-bottom: 10px;
   
}

#header .header-content a {
   font-size: 1.2rem;
   margin-top: 10px;
   margin-bottom: 30px;
   display: inline-block;
   padding: 10px 20px;
   background: var(--red-color);
   color: var(--light-color);
   transition-property: all;
   transition-duration: 0.5s;
}

#header .header-content a:hover{
   background: var(--gray-color);
   color: var(--light-color);
}

/* SECTION - 1 - */
#pjesa1 {
   height: 500px;
   background: var(--light-color);
}

#pjesa1 h1 {
   color: var(--red-color);
   padding: 20px 0;
}


#pjesa-1 {
   min-height: 300px;
}

#pjesa-1 .articles-container {
   display: grid;
   grid-template-columns: 1.5fr 1fr;
   grid-gap: 1rem;
}

#pjesa-1 {
   background: var(--light-color);
   color: var(--light-color);
}

/* Right-Side */
#pjesa-1 .articles-container .right-side {
   background: url('../img/bg.jpg') no-repeat top center/cover;
   height: 300px;
   color: white;
   position: relative;
}

#pjesa-1 .articles-container .right-side .all-content {
   height: 100%;
   top: 0;
   left: 0;
   right: 0;
   background-color: rgba(0, 0, 0, 0.5); 
}


#pjesa-1 .articles-container .right-side .text-content {
   position: absolute;
   bottom: 0;
   width: 50%;
   margin-bottom: 20px;
}

#pjesa-1 .articles-container .right-side .text-content p,
#pjesa-1 .articles-container .right-side .text-content h1 {
   padding-bottom: 10px;
}

/* Left-Side */
#pjesa-1 .articles-container .left-side {
   display: grid;
   grid-gap: 1rem;
}

#pjesa-1 .articles-container .left-side a {
   color: var(--light-color);

}

#pjesa-1 .articles-container .left-side .first {
   background: url('../img/foto1.jpg') no-repeat center center/cover;
   position: relative;
}

#pjesa-1 .articles-container .left-side .second {
   background: url('../img/foto1.jpg') no-repeat center center/cover;
   position: relative;
}

#pjesa-1 .articles-container .left-side .third {
   background: url('../img/foto1.jpg') no-repeat center center/cover;
   position: relative;
}

#pjesa-1 .articles-container .left-side .all-content{
   height: 100%;
   top: 0;
   left: 0;
   right: 0;
   background-color: rgba(0, 0, 0, 0.4); 
   
}

#pjesa-1 .articles-container .left-side .all-content h1 {
   position: absolute;
   bottom: 0;
   margin-bottom: 1rem;
}



#pjesa-2 {
   min-height: 600px;
   background: var(--light-color);
}

#pjesa-2 .articles-container {
   display: grid;
   grid-template-columns: 2fr 1fr;
   grid-gap: 1rem;
}

#pjesa-2 .articles-container h1 {
   padding-bottom: 10px;
}

#pjesa-2 .articles-container p {
   padding-bottom: 10px;
}

#pjesa-2 .articles-container img {
   width: 150px;
}

#pjesa-2 .articles-container .left-side {
   display: grid;
   grid-gap: 1rem;
}

#pjesa-2 .articles-container .left-side .card{
   display: grid;
   grid-template-columns: 1fr 3fr;
   align-items: center;
}

#pjesa-2 .articles-container .left-side .card .texti {
   width: 90%;
}

#pjesa-2 .articles-container .left-side .disp {
   display: flex;
   justify-content: space-between;
}

#pjesa-2 .articles-container .left-side .disp p {
   color: #acacac;
}


#pjesa-2 .articles-container .right-side img {
   width: 70px;
   height: 70px;
   border-radius: 50%;
}

#pjesa-2 .articles-container .right-side {
   display: grid;
   grid-gap: 1rem;
}

#pjesa-2 .articles-container .right-side .card {
   display: grid;
   grid-template-columns: 1fr 3fr;
   align-items: center;
}


/* SECTION: Pjesa-3 */

#pjesa-3 {
   min-height: 400px;
   background: var(--gray-color);
}

#pjesa-3 .articles-container3 .video-content img {
   width: 200px;
   
}

#pjesa-3 .articles-container3{
   display: grid;
   grid-gap: 1rem;
   grid-template-columns: repeat(5, 1fr);
}


#pjesa-3 .articles-container3 .video-content img {
   width: 100%;
   height: 100%;
}

#pjesa-3 .articles-container3 .video-content:first-child{
   align-items: center;
   align-content: center;
   justify-content: center;
   grid-column: 1 / span 2;
   grid-row: 1 / span 2;
}


#pjesa-3 .articles-container3 .video-content .fotoja {
   position: relative;
}

#pjesa-3 .articles-container3 .video-content .fotoja #psh {
   position: absolute;
   left: 4%;
   top: 4%;
}


#pjesa-3 .articles-container3 .video-content .fotoja .ikona {
   position: absolute;
   color: white;
   padding: 10px;
   border-radius: 50%;
   background: var(--red-color);
   bottom: 5%;
   right: 5%;
}

#pjesa-3 .articles-container3 .video-content .fotoja .ikona:hover {
   background: var(--light-color);
   color: var(--red-color);
}

/* SECTION: Pjesa-4 */

#pjesa-4 {
   background: url('../img/world.png') no-repeat center;
   max-height: 400px;
   color: var(--gray-color);
   position: relative;
   
}

#pjesa-4 .fotoja{
   height: 100%;
   top: 0;
   left: 0;
   right: 0;
   /* opacity: .; */
   background-color: rgba(255, 255, 255, 0.8);
}

#pjesa-4 .articles-container4 {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 3rem;
   justify-content: center;
   /* align-content: center; */
   align-items: center;
}

#pjesa-4 .articles-container4 .sm {
   /* display: inline-block; */
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50%;
   margin: 10px 0;
   padding: 10px 20px;
   background: var(--gray-color);
   color: #fff;
}

#pjesa-4 .articles-container4 .sm h1 {
   padding-left: 10px;
}

#pjesa-4 .articles-container4 .facebook {
   background: rgb(34, 34, 199);
}

#pjesa-4 .articles-container4 .youtube {
   background: rgb(221, 14, 14)
}

#pjesa-4 .articles-container4 .twitter {
   background: rgb(14, 155, 221)
}

#pjesa-4 .articles-container4 .sm:hover {
   opacity: 0.8;
}


#pjesa-4 .articles-container4 .smartphone,
#pjesa-4 .articles-container4 .email {
   display: flex;
   justify-content: space-between;
} 

#pjesa-4 .articles-container4 .smartphone {
   margin-bottom: 5rem;
}

#pjesa-4 .articles-container4 .news .texti {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding-left: 2rem;
}

#pjesa-4 .articles-container4 .email-us {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

#pjesa-4 .articles-container4 .email-us .us {
   margin-bottom: 2rem;
}

#pjesa-4 .articles-container4 .email-us .us h1 {
   padding-bottom: 1rem;
}

/* POLITICS */

#politics {
   min-height: 400px;
   background: var(--gray-color);
   color: var(--light-color);
}

#politics .header-container {
   display: grid;
   grid-gap: 1rem;
}

#politics .header-container .exp {
   color: #fff;
   background: #333;
   padding: 2rem;
   position: relative;
 }

 #politics .header-container .exp .haha {
    padding: 20px 40px;
    background-color: rgba(0, 0, 0, .5);
 }
 
 #politics .header-container .exp:before {
   content: '';
   background: url('../img/foto1.jpg') no-repeat center center/cover;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: .7;
 }

 #politics .header-container .exp:hover {
    background: rgba(0, 0, 0, 0.2);
 }

 #politics .header-container .exp .right-side {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items: end;
   height: 60vh;
 }

 #politics .header-container .exp .right-side h1,
 #politics .header-container .exp .right-side p {
    padding-bottom: 10px;
 }

 #politics .header-container .exp .right-side a{
    padding: 10px 20px;
 }

 #politics .header-container .exp .right-side .haha {
    z-index: 1;
 }

 #politics img {
    width: 100%;
 }

 #politics .header-container .right-side {
    z-index: 1;
 }


 #politics .header-container .left-side {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
 }

 #politics .header-container .left-side div div {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: #a0a0a0;
 }

 #politics .header-container .left-side div h1 {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--red-color);
    margin-bottom: 5px;
 }

 #politics .header-container .left-side div  p{
    text-align: justify;
 }


/* POLITICS: SECTION */

#politics-section {
   min-height: 500px;
}

#politics-section .titles {
   color: #db1c0f; padding-bottom: 1rem;
   display: flex;
   justify-content: space-between;
}

#politics-section .foto {
   height: 100px;
   background: url('../img/foto1.jpg') no-repeat center center/cover;
}


#politics-section .section-container {
   display: grid;
   grid-template-columns: 3fr 1fr;
   grid-gap: 2rem;
}

#politics-section .section-container .right-side{
   padding: 1rem 1rem;
   border: .5px solid #d4d4d4;
}

#politics-section .section-container .right-side .content {
   display: grid;
   grid-template-columns: 1fr 2fr;
   grid-gap: 2rem;
   /* padding-bottom: 3rem;
   border-bottom: .5px solid #d4d4d4; */
   padding: 3rem;
   border-bottom: .5px solid #d4d4d4;
}

#politics-section .section-container .right-side .last {
   border: none;
}


#politics-section .section-container .right-side .content .content-2 {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   
}

#politics-section .section-container .right-side .content .content-2 div {
   display: flex;
   justify-content: space-between;
   align-content: space-between;
}

#politics-section .section-container .right-side .content .content-2 .social a{
   margin: 0 10px;
}

#politics-section .section-container .right-side .content .content-2 div p {
   color: #969696;
   /* padding-right: 20px; */
}

#politics-section .section-container .right-side .content .content-2 div .social a:hover {
   color: var(--red-color);
}

#politics-section .section-container .right-side .more-content {
   padding: 10px 20px;
   /* display: flex; */
   
}

#politics-section .section-container .more-content{
   display: flex;
   justify-content: center;

}

#politics-section .section-container .left-side {
   padding: 2rem;
   border: .5px solid #d4d4d4;
}

#politics-section .section-container .left-side .content div {
   padding: 2rem 0;
   border-bottom: .5px solid #d4d4d4;
}





/* FOOTER */
#footer {
   min-height: 400px;
   background: var(--gray-color);
   color: var(--light-color);
}


#footer img {
   max-width: 200px;
   /* padding: 30px; */
   margin: 20px 0;
   background: var(--light-color);
}

#footer .logo-img {
   padding: 30px;
}


#footer a {
   /* color: var(--light-color); */
   /* padding: 5px; */
}
#footer h1 {
   font-size: 12px;
   padding-bottom: 5px;
}

#footer i {
   color: var(--light-color);
   margin-top: 20px;
   margin-left: 2px;
   padding: 10px;
   background: var(--red-color);
   /* border-radius: 50%; */
}

#footer i:hover {
   opacity: .7;
}

#footer .footer-container {
   display: grid;
   grid-template-columns: 1fr 3fr 0.5fr;
   grid-gap: 3rem;
   justify-content: center;
   align-items: center;
}

#footer .footer-container .grid {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 1rem;
}

footer .footer-container .grids {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   justify-content: center;
   align-items: center;
   grid-gap: 1rem;
}

footer .footer-container .third-one {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

footer .footer-container .third-one h1 {
   margin-bottom: 2rem;
   
}

footer .footer-container .third-one ul li {
   margin-top: 2rem;
   margin-bottom: 1rem;
   padding: 5px 0;
   /* padding-bottom: 5px; */
   border-bottom: 1px dotted var(--light-color);
}

footer .footer-container .third-one ul li a{
   
   color: var(--light-color);
}
footer .footer-container .third-one ul li:hover {
   background: var(--red-color);
   border: none;
   padding-bottom: 6px;
}

footer .footer-container .third-one {
   display: block;
}

footer .footer-container .third-one a {
   margin-top: 2rem;
   text-align: center;
   display: block;
}

footer .footer-container .last-one {
   grid-column: 1 / span 3;
   padding: 1rem;
   background: rgb(31, 31, 31);
   text-align: center;
}

