:root {
   --gray-color: #333;
   --light-color: #f4f4f4;
   --red-color: #db1c0f;
   --blue-color: #1b51cf;
   --violet-color: #6e0194;
}


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,
body{
   font-size: 12px;
   font-family: Arial, Helvetica, sans-serif;
}

a {
   text-decoration: none;
   color: var(--gray-color);
}

ul{
   list-style: none;
}

.primary-a {
   border-bottom: 1px solid var(--red-color);
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 10px;
}

.category {
   display: inline-block;
   color: white;
   font-size: 0.7rem;
   text-transform: uppercase;
   padding: 0.4rem 0.6rem;
   margin-bottom: 0.5rem;
   border-radius: 2px;
}

.category-politics {
   background: var(--red-color);
}
.category-tech {
   background: var(--violet-color);
}
.category-sports {
   background: var(--blue-color);
}



.py-1 {padding: 1.5rem 0;}
.py-2 {padding: 2rem 0;}
.py-3 {padding: 3rem 0;}
.p-1 {padding: 1.5rem;}
.p-2 {padding: 2rem;}
.p-3 {padding: 3rem;}

.btn {
   display: inline-block;
   padding: 5px 10px;
   color: white;
   transition: background 0.5s;
   

}

.btn-red
{
   background: var(--red-color);
}

.btn-blue {
   background: var(--blue-color);
}

.btn-violet {
   background: var(--violet-color);
}

.btn:hover {
   background: var(--light-color);
   color: var(--gray-color);

}

.card {
   background: #fff;
   padding: 1rem;

}

/* NAVBAR */
#navbar{
   background: #fff;
   position: sticky;
   top: 0;
   z-index: 2;
}

#navbar .content {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100%;
}

#navbar .logo {
   width: 50px;
}

#navbar .content ul {
   display: flex;
}

#navbar .content ul li a {
   padding-bottom: 5px;
   margin: 10px 40px;
}

#navbar .content ul li a:hover{
   border-bottom: 1px solid var(--gray-color);
}

#navbar .content .pjesa-majtas {
   display: flex;
   align-items: center;

}

#navbar .content .pjesa-majtas .login {
   width: 30px;
}

#navbar .content .button input {
   background: var(--light-color);
   padding: 5px 10px;
   border-radius: 32px;
   border: none;
   margin-right: 15px;
}

#navbar .content .button input:focus{
   outline: none;
   border: 1px solid var(--red-color);
}

#navbar .content .logo {
   background: #db1c0f; 
   border-radius: 50%; 
   margin: 5px 0;
}

#navbar .content .logo:hover {
   background: #cc1a0d; 
}

/* HEADER */

#header{
   background: url('../img/bg2.jpg') no-repeat center center/cover;
   height: 500px;
   color: var(--light-color);
}

#header .header-content {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   /* align-items: center; */
   top: 60px;
   left: 0;
   right: 0;
   background-color: rgba(0, 0, 0, 0.5);
}

#header .header-content .texti{
   margin-bottom: 30px;
}


#header .header-content h3,
#header .header-content p{
   font-size: 1.5rem;
   width: 50%;
}
#header .header-content h3{
   font-size: 2rem;
   margin-bottom: 10px;
   
}

#header .header-content a {
   font-size: 1.2rem;
   margin-top: 10px;
   margin-bottom: 30px;
   display: inline-block;
   padding: 10px 20px;
   background: var(--red-color);
   color: var(--light-color);
   transition-property: background, color;
   transition-duration: 0.5s;
}

#header .header-content a:hover{
   background: white;
   color: var(--gray-color);
}

/* SECTION - 1 - */
#pjesa1 {
   height: 500px;
   background: var(--light-color);
}

#pjesa1 h1 {
   color: var(--red-color);
   padding: 20px 0;
}


#pjesa-1 {
   min-height: 300px;
}

#pjesa-1 .articles-container {
   display: grid;
   grid-template-columns: 1.5fr 1fr;
   grid-gap: 1rem;
}

#pjesa-1 {
   background: var(--light-color);
   color: var(--light-color);
}

/* Right-Side */
#pjesa-1 .articles-container .right-side {
   background: url('../img/bg.jpg') no-repeat top center/cover;
   height: 300px;
   color: white;
   position: relative;
}

#pjesa-1 .articles-container .right-side .all-content {
   height: 100%;
   top: 0;
   left: 0;
   right: 0;
   background-color: rgba(0, 0, 0, 0.5); 
}


#pjesa-1 .articles-container .right-side .text-content {
   position: absolute;
   bottom: 0;
   width: 50%;
   margin-bottom: 20px;
}

#pjesa-1 .articles-container .right-side .text-content p,
#pjesa-1 .articles-container .right-side .text-content h1 {
   padding-bottom: 10px;
}

/* Left-Side */
#pjesa-1 .articles-container .left-side {
   display: grid;
   grid-gap: 1rem;
}

#pjesa-1 .articles-container .left-side a {
   color: var(--light-color);

}

#pjesa-1 .articles-container .left-side .first {
   background: url('../img/foto1.jpg') no-repeat center center/cover;
   position: relative;
}

#pjesa-1 .articles-container .left-side .second {
   background: url('../img/foto1.jpg') no-repeat center center/cover;
   position: relative;
}

#pjesa-1 .articles-container .left-side .third {
   background: url('../img/foto1.jpg') no-repeat center center/cover;
   position: relative;
}

#pjesa-1 .articles-container .left-side .all-content{
   height: 100%;
   top: 0;
   left: 0;
   right: 0;
   background-color: rgba(0, 0, 0, 0.4); 
   
}

#pjesa-1 .articles-container .left-side .all-content h1 {
   position: absolute;
   bottom: 0;
   margin-bottom: 1rem;
}



#pjesa-2 {
   min-height: 600px;
   background: var(--light-color);
}

#pjesa-2 .articles-container {
   display: grid;
   grid-template-columns: 2fr 1fr;
   grid-gap: 1rem;
}

#pjesa-2 .articles-container h1 {
   padding-bottom: 10px;
}

#pjesa-2 .articles-container p {
   padding-bottom: 10px;
}

#pjesa-2 .articles-container img {
   width: 150px;
}

#pjesa-2 .articles-container .left-side {
   display: grid;
   grid-gap: 1rem;
}

#pjesa-2 .articles-container .left-side .card{
   display: grid;
   grid-template-columns: 1fr 3fr;
   align-items: center;
}

#pjesa-2 .articles-container .left-side .card .texti {
   width: 90%;
}

#pjesa-2 .articles-container .left-side .disp {
   display: flex;
   justify-content: space-between;
}

#pjesa-2 .articles-container .left-side .disp p {
   color: #acacac;
}


#pjesa-2 .articles-container .right-side img {
   width: 70px;
   height: 70px;
   border-radius: 50%;
}

#pjesa-2 .articles-container .right-side {
   display: grid;
   grid-gap: 1rem;
}

#pjesa-2 .articles-container .right-side .card {
   display: grid;
   grid-template-columns: 1fr 3fr;
   align-items: center;
}


/* SECTION: Pjesa-3 */

#pjesa-3 {
   min-height: 400px;
   background: var(--gray-color);
}

#pjesa-3 .articles-container3 .video-content img {
   width: 200px;
   
}

#pjesa-3 .articles-container3{
   display: grid;
   grid-gap: 1rem;
   grid-template-columns: repeat(5, 1fr);
}


#pjesa-3 .articles-container3 .video-content img {
   width: 100%;
   height: 100%;
}

#pjesa-3 .articles-container3 .video-content:first-child{
   align-items: center;
   align-content: center;
   justify-content: center;
   grid-column: 1 / span 2;
   grid-row: 1 / span 2;
}


#pjesa-3 .articles-container3 .video-content .fotoja {
   position: relative;
}

#pjesa-3 .articles-container3 .video-content .fotoja #psh {
   position: absolute;
   left: 4%;
   top: 4%;
}


#pjesa-3 .articles-container3 .video-content .fotoja .ikona {
   position: absolute;
   color: white;
   padding: 10px;
   border-radius: 50%;
   background: var(--red-color);
   bottom: 5%;
   right: 5%;
}

#pjesa-3 .articles-container3 .video-content .fotoja .ikona:hover {
   background: var(--light-color);
   color: var(--red-color);
}


